<div class="content">
  <section class="section-dark">
    <article class="the-story">
      <h1>The Story</h1>
      <hr>
      <p>clouddeveloper.io website was started as a hoby project when recording youtube videos. The purpose of this website
        is to learn easy and efficient ways of being able to write interactive, functional, and appealing websites. We hope
        that you enjoy the content that is on this website as we keep on adding to it.</p>
      <hr>
    </article>
  </section>
  <section>
    <article class="coding-fun">
      <h1>"Coding is lots of fun"</h1>
    </article>
  </section>
  <section>
      <article class="youtube-videos">
          <h1>Youtube Videos</h1>
          <div class="video-content">
          <div class="ui link cards">
              <div class="card">
                <a class="image" href="https://www.youtube.com/watch?v=UTRyfRmqJTk&list=PLQPgqnK4E_gooheIdb3ojGjR_jV4hz05u" target="_blank">
                  <img src="assets/images/yt-aspnetcore-card-logo.png">
                </a>
                <div class="content">
                  <a class="header" href="https://www.youtube.com/watch?v=UTRyfRmqJTk&list=PLQPgqnK4E_gooheIdb3ojGjR_jV4hz05u" target="_blank">ASP.NET MVC Core</a>
                  <div class="description">
                    Videos related to the topic of writing ASP.NET MVC Core applications.
                  </div>
                </div>
              </div>
              <div class="card">
                <a class="image" href="https://www.youtube.com/watch?v=DqtKuXFfhsQ&list=PLQPgqnK4E_gowRfiAb6gaVcmfmCzT_YqE" target="_blank">
                    <img src="assets/images/yt-ang-card-logo.png">
                </a>
                <div class="content">
                  <a class="header" href="https://www.youtube.com/watch?v=DqtKuXFfhsQ&list=PLQPgqnK4E_gowRfiAb6gaVcmfmCzT_YqE" target="_blank">Angular</a>
                  <div class="description">
                    Videos about using Angular javascript platform for building your next setup of amazing websites.
                  </div>
                </div>
              </div>
              <div class="card">
                <a class="image"  href="https://www.youtube.com/watch?v=UTRyfRmqJTk&list=PLQPgqnK4E_gp1iWORGo_9MY3BZpYkROv1" target="_blank">
                  <img src="assets/images/yt-vs-card-logo.png">
                </a>
                <div class="content">
                  <a class="header" href="https://www.youtube.com/watch?v=UTRyfRmqJTk&list=PLQPgqnK4E_gp1iWORGo_9MY3BZpYkROv1" target="_blank">Visual Studio</a>
                  <div class="description">
                    Videos that include the use of Visual Studio
                  </div>
                </div>
              </div>
              <div class="card">
                <a class="image"  href="https://www.youtube.com/watch?v=KyzW1HM2Yms&list=PLQPgqnK4E_goKxAEsrSaVs9YnRtUaC2vT" target="_blank">
                  <img src="assets/images/yt-ps-card-logo.png">
                </a>
                <div class="content">
                  <a class="header" href="https://www.youtube.com/watch?v=KyzW1HM2Yms&list=PLQPgqnK4E_goKxAEsrSaVs9YnRtUaC2vT" target="_blank">Powershell</a>
                  <div class="description">
                    Videos that cover the use of Powershell to accomplish different tasks.
                  </div>
                </div>
                </div>
            </div>
          </div>
        </article>
      </section>
</div>
