<div class="content">
  <section class="section-dark">
    <article class="the-story">
      <h1>The Story</h1>
      <hr>
      <p>clouddeveloper.io website was started as a hoby project when recording youtube videos. The purpose of this website
        is to learn easy and efficient ways of being able to write interactive, functional, and appealing websites. We hope
        that you enjoy the content that is on this website as we keep on adding to it.</p>
      <hr>
    </article>
  </section>
  <section>
    <article class="coding-fun">
      <h1>"Coding is lots of fun"</h1>
    </article>
  </section>
  <section>
    <article class="youtube-videos">
      <h1>Youtube Videos</h1>
      <div class="video-content">
        <div class="ui link cards">
          <div *ngFor="let list of playLists" class="card">
            <a class="image" href="{{list.Link}}" target="_blank">
                  <img src="{{list.Image}}">
                </a>
            <div class="content">
              <a class="header" href="{{list.Link}}" target="_blank">{{list.Title}}</a>
              <div class="description">
                {{list.Description}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
