<div class="ui main text container">
  <h1 class="ui header">Welcome to {{title}} channel!</h1>
  <p>Content coming soon!!!</p>

  <div class="ui grid">
    <div class="eight wide column" style="background-color:gray;">
      <div class="ui header small">Test column 1</div>
      <button class="ui button primary" (click)="showModal()">Show Modal</button>
    </div>
    <div class="six wide column" style="background-color:lightgray;">
      <div class="ui header small">Test column 2</div>
    </div>
  </div>
</div>

<app-user-notification></app-user-notification>
