<footer>
  <div class="ui centered grid">
    <div class="four wide column"><strong>Find Us</strong>
      <ul>
        <li><a href="https://www.youtube.com/channel/UCOe_DLWS1ajQOqoTUIJGCvw" target="_blank">Youtube</a></li>
        <li><a href="https://twitter.com/ilozovyy" target="_blank">Twitter</a></li>
        <li><a href="https://www.fb.me/clouddeveloper.io" target="_blank">Facebook</a></li>
        <li><a href="https://plus.google.com/b/101368235245675268687/101368235245675268687?pageId=101368235245675268687" target="_blank">Google+</a></li>
      </ul>
    </div>
    <div class="five wide column">
      <h2>Thanks for visiting</h2>
      <p>Please support us by subscribing to our <a href="https://www.youtube.com/channel/UCOe_DLWS1ajQOqoTUIJGCvw" target="_blank">{{title}}</a> channel!</p>
      <p>Visitors:  {{visitorCount}}</p>
    </div>
  </div>
</footer>
