<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/" class="header item">
        <img class="logo" src="assets/images/logo.png">
        clouddeveloper.io
      </a>
    <a href="#" class="item active">Home</a>
    <a href="#" class="ui item right">About</a>
  </div>
</div>

<div class="ui main text container">
  <h1 class="ui header">Welcome to the {{title}} channel!</h1>
  <p>Content coming soon!!!</p>

  <div class="ui grid">
    <div class="eight wide column" style="background-color:gray;">
      <div class="ui header small">Test column 1</div>
      <button class="ui button primary" (click)="showModal()">Show Modal</button>
    </div>
    <div class="six wide column" style="background-color:lightgray;">
      <div class="ui header small">Test column 2</div>
    </div>
  </div>
</div>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui small image">
      <img src="assets/images/logo.png">
    </div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui red deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    &copy;&nbsp; Copyright 2017 &nbsp;|&nbsp;&nbsp;clouddeveloper.io &nbsp;&nbsp;|&nbsp;&nbsp; All Rights Reserved
  </div>
</div>